/*******************************************
                   BASICS
*******************************************/

body {
    background-color: #EBEBEB;
}


.logo {
    margin: 0 auto;
    padding: 15px 0 20px 0;
}

#logo-big {
	max-width: 85%;
}

h2.page-header {
    border-color: #bcbcbc;
    color: #515151;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

header {
     background-image: URL('../img/nav-background.jpg');
 }

/* Default page title */

#page-title {
    color: #515151;
}

.ng-cloak {
    display: none !important;
}

/*******************************************
                   NAVBAR
*******************************************/

nav a {
    color: white;
}

.nav>li>a:hover {
    background-color: inherit;
    font-weight: bold;
    color: #1A4366;
}

.nav>li>a:focus {
    text-decoration: none;
    background-color: #eee;
    font-weight: bold;
}

.nav-elem {
    font-weight: bold;
    font-size: 18px;
}

.navbar.navbar-dark.bg-primary {
    border: 0;
    border-radius: 0;
    box-shadow:inset 0 40px 40px -10px #276091;
}

#bs-example-navbar-collapse-1 {
    padding: 0 15px 0 0;
}

.navbar-dark .navbar-toggle .icon-bar {
    background-color: whitesmoke;
}

.navbar-toggle {
  float: left;
  padding: 9px 10px 9px 20px;
}

.nav .nav-divider {
    background-color: #4787BE;
}

nav .dropdown li a:hover,
nav .dropdown li a{
    color: #1A4366;
}

.dropdown-menu {
    border-left: 0;
    border-right:0;
}
/*******************************************
                   CAROUSEL
*******************************************/

.container .jumbotron {
    padding: 7px 7px;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    margin-bottom:0;
}

.tales {
    width: 100%;
}

#carousel-example-generic{
    max-height: 400px;
    max-width: 910px;
    margin: 0 auto;
}

.carousel-inner{
    width:100%;
    max-height: 400px;
    max-width: 910px;
}

.carousel-inner > .item > a > img {
    margin: 0 auto;
}

.item a.carousel-caption:hover, .item a.carousel-caption:link, .item a.carousel-caption:link p:visited {
    text-decoration: none;
    color: black;
}

.carousel-caption>h3{
    font-weight: bold;
}

.carousel-controls{
 position:relative; 
  width:300px;
  margin:0 auto;
}



/*******************************************
                    Panels
*******************************************/

.row .panel {   
    margin-top: 20px;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-sizing: content-box;
    box-shadow: none;
}

.panel-default>.panel-heading {
    background-color: #fff;
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    box-sizing: content-box;
    border: none;
    box-shadow: none;
}

.panel-heading>h3 {
    color: #515151;
    margin-top: 0;
    margin-bottom: 0;
}

.news-pic {
    width: 120px;
    height: 120px;
    float: left;
    border: 0;
    margin-right:  10px;
}

.panel-default>.panel-body {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    box-sizing: content-box;

}

.panel-body>p, .panel-body>a.btn-default{
    color: #515151;
    margin-left: 10px;
}

.panel-body>a.btn-default{
    display: inline-block;
    float: right;
}
/*******************************************
                   SIdebar
*******************************************/
#sidebar {
    margin-top: 40px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#sidebar>.panel-body {
    background-color: #fff;

}

#sidebar>.panel-body>a {
    color:#515151;
}


#sidebar img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#sidebar p {
    margin-left: 0;
}

/*******************************************
                   Footer
*******************************************/
footer {
    background-color: #276091;
    padding: 20px 20px;
    box-shadow:inset 0 40px 40px -10px #337AB7;
    color: #fff;
    margin-top: 30px;
}

#mail {
    color:white;
}

#mail:hover {
    text-decoration: none;
}

.social-icon {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    margin-right: 5%;
    float: right;
}
/*******************************************
            PAGE: STATUTE
*******************************************/
#statute-into {
    font-size: 1.1em;
    padding-bottom: 30px;
    border-bottom: #bcbcbc solid 1px;
    margin-bottom: 20px;
}


/*******************************************
            PAGE: BOARD
*******************************************/
#header-board {
    padding-left: 20%;
}
.body-board {
    padding-left: 20%;
}

table td, table th {
    color: #515151;
}

.board-position {
    font-weight: bold;
    color: #5c0120;
}

table {
    width: auto !important;
}


/*******************************************
            PAGE: PRIZE
*******************************************/
.img-prize {
    float: left;
    padding: 0;
}

#epigrafe {
    margin-left: 10px;
}

/*******************************************
            PAGE: NEWS and EVENTS
*******************************************/
#page-news-header{
    border-bottom: 3px solid #515151;
}
.noticia.panel {
    margin-top:0;
}

.noticia>.panel-heading {
    margin-bottom: 0;
    background-color: transparent;
}

.noticia>.panel-heading>h3 {
    font-weight: bold;
}

.noticia>.panel-body>img {
    max-width: 100%;
    margin-bottom: 25px;
}

.noticia>.panel-body {
    border-bottom: 3px solid #515151;
}

/*******************************************
            PAGE: Previous MEETINGS
*******************************************/
h3.meeting-title {
    color:#800000;
}

h3.course-title {
    color:#20497d;
}

.btn-pic {
    background-color:#C2C2C2;
    border-color: #A1A1A1;
    font-weight: 600;
    color: black;
}

.btn-pic:hover,
.btn-pic:active,
.btn-pic:focus,
.btn-pic:active:focus,
.btn-pic:active:hover {
    background-color: #515151;
    font-weight: 600;
    color: black;
}


h3.modal-title {
    font-weight: bold;
    padding: 0;
}
 .modal-header {
    padding-bottom: 5px;
 }


.modal-dialog {
    margin-right: auto;
    margin-left: auto;
}
.modal-btn {
    float: right;
    margin-right: 20%;
}

.modal-lg {
    max-width: 80%;
}

.modal-body>img {
    margin: 0 auto;
}
/*******************************************
            MEDIA QUERIES
*******************************************/

/* For phones */
@media (max-width: 767px) {
    .logo {
        padding: 10px 0;
    }


    nav .dropdown li a{
        color: whitesmoke;
    }

    .nav-elem {
        margin-left: 20px;
    }

    h3.smaller-xs{
        font-size: 15px;
    }

    #bs-example-navbar-collapse-1 {
        border-top: solid 1px;
        border-color: darkblue;
    }

    .body-board {
        padding-left: 0;
    }

    #page-title {
        padding-left: 0;
    }
}


/* For Bigger Screens */
@media (min-width:  768px) {
    .navbar-nav {
        display:table;
        width:100%;
        margin: 0;
    }
    .navbar-nav > li {
        float:none;
        display:table-cell;
        text-align:center;
    }

    /*Dropdown width in navbar*/
   .dropdown-menu {
        min-width: 100%;
        text-align: center; 
    }

    .row .col-xs-12.col-sm-6:nth-child(3n) {
        clear: left;
    }
}

