<footer>
    <div class="container">
        <a target="_blank" href="https://www.facebook.com/lasdb.development/">
            <img src="{{site.baseurl}}/img/footer-facebook.png" alt="Facebook Logo" class="social-icon">
        <a target="_blank" href="https://twitter.com/LASDB_DevBiol">
            <img src="{{site.baseurl}}/img/footer-twitter.png" alt="Twitter Logo" class="social-icon">
        </a>
        <p> Latin American Society for Developmental Biology <br>
        Email:
            <a id="mail" target="_blank"  href="mailto:lasdb.development@gmail.com" target="_top">lasdb.development@gmail.com</a>
        </p>
    </div>
</footer>
