<footer>
    <div class="container">
         <a target="_blank" href="https://biologists.social/@LASDB_DevBiol">
            <img src="{{site.baseurl}}/img/footer-mastodon.png" alt="blsk Logo" class="social-icon">
        <a target="_blank" href="https://bsky.app/profile/lasdb.bsky.social">
            <img src="{{site.baseurl}}/img/footer-bluesky.png" alt="blsk Logo" class="social-icon">
        <a target="_blank" href="https://www.instagram.com/lasdb_devbiol/">
            <img src="{{site.baseurl}}/img/footer-instagram.png" alt="Instagram Logo" class="social-icon">
        <a target="_blank" href="https://x.com/LASDB_DevBiol">
            <img src="{{site.baseurl}}/img/footer-x-twitter.png" alt="X Logo" class="social-icon">
        <a target="_blank" href="https://www.facebook.com/lasdb.development/">
            <img src="{{site.baseurl}}/img/footer-facebook.png" alt="Facebook Logo" class="social-icon">
        </a>
        <p> Latin American Society for Developmental Biology <br>
        Email:
            <a id="mail" target="_blank"  href="mailto:lasdb.development@gmail.com" target="_top">lasdb.development@gmail.com</a>
        </p>
    </div>
</footer>


