<header>
    <div class="container" style="height:130px;">
        <span class="hidden-xs">
            <a href="{{site.baseurl}}/index.html">
                <img class="img-responsive logo" id="logo-big" src="{{site.baseurl}}/img/nav-logoLASDB-big.png" alt="Latin American Society for Developmental Biology">
            </a>
        </span>
        <span class="visible-xs-block">
            <a href="{{site.baseurl}}/index.html">
                <img class="img-responsive logo" src="{{site.baseurl}}/img/nav-logoLASDB-small.png" alt="Latin American Society for Developmental Biology">
            </a>
        </span>
    </div>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header visible-xs">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">LASDB</div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="nav-elem"><a id="nav-elem-home" href="{{site.baseurl}}/index.html"> HOME <span class="sr-only"></span></a></li>
                <li class="nav-divider"></li>
                <li class="dropdown nav-elem">
                    <a href="#" id="nav-elem-about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">ABOUT LASDB<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.baseurl}}/pages/statute.html">Statute and Bylaws</a></li>
                        <li><a href="{{site.baseurl}}/pages/board.html">Board</a></li>
                        <li><a href="{{site.baseurl}}/pages/prize.html">LASDB Prize in DB</a></li>
                        <li><a href="{{site.baseurl}}/pages/young_investigator_award.html">New Investigator Award LASDB</a></li>
                        <li><a href="{{site.baseurl}}/pages/LASDB_meeting_guidelines.html">Meeting guidelines</a></li>
                    </ul>
                </li>
                <li class="nav-divider"></li>
                <li class="dropdown nav-elem">
                    <a href="#" id="nav-elem-member" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEMBERSHIP 
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.baseurl}}/pages/member.html">Become a member</a></li>
                        <li><a href="{{site.baseurl}}/pages/pay-annual-dues.html">Pay your annual dues</a></li>
                    </ul>
                </li>
                <li class="nav-divider"></li>
                <li class="dropdown nav-elem">
                    <a href="#" id="nav-elem-meetings" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEETINGS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.sdbonline.org/2025icdb" target="_blank">ISDB-SDB-LASDB-2025</a></li>
                        <li><a href="https://meetings.embo.org/event/24-dev-bio" target="_blank">LASDB-2024</a></li>
                        <li><a href="{{site.baseurl}}/pages/previous-meetings.html">Previous LASDB Meetings</a></li>
                    </ul>
                </li>
                <li class="nav-divider"></li>
                <li class="nav-elem"><a id="nav-elem-news" href="{{site.baseurl}}/pages/news.html">NEWS & EVENTS</a></li>
                <li class="nav-divider"></li>
                <li class="dropdown nav-elem">
                    <a href="#" id="nav-elem-more" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MORE <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{site.baseurl}}/pages/jobs.html">Jobs/Positions</a></li>
                        <li><a href="{{site.baseurl}}/pages/links.html">Links</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        </div>
    </nav>
</header>

