<div class="hidden-xs col-sm-3">
    <div class="panel panel-default" id="sidebar">
        <div class="panel-body">
            
            <a href="{{site.baseurl}}/pages/Latin_American_Developmental_Biologists.html">
                <p style="font-weight:bold; margin-top: 0px; font-size: 1.5em;">Mapping Latin American Developmental Biologists</p>
                <p style="font-size: 1.5em;" - in Latin America and Abroad<br></p>
                <img src="{{site.baseurl}}/img/carrousel_databaseDevBiol_2.jpg" class="img-dat img-responsive" style="margin-bottom:15px;">
                <p style="font-weight:bold; font-size: 1.2em;">Complete your profile and Join the Directory of Latin American Developmental Biologists!</p>
                <br>
                <ul style="padding-left:10px; border-bottom: 3px solid #515151;"></ul>
            </a>

            <a href="{{site.baseurl}}/pages/pay-annual-dues.html">
                <p style="font-weight:bold; margin-top: 20px; font-size: 1.4em;">ANNUAL MEMBERSHIP</p>
                <button class="btn btn-danger btn-lg" style="width: 100%; margin-bottom: 15px;" > PAY HERE </button>
                The budget of the Society depends on the timely payment of the fees.  <br><br><br>
                <ul style="padding-left:10px; border-bottom: 3px solid #515151;"></ul>
            </a> 
            
            <a href="{{site.baseurl}}/pages/jobs.html">
                <p style="font-weight:bold; margin-top: 30px; font-size: 1.2em;">POSITIONS</p>
                <ul style="padding-left:10px; border-bottom: 3px solid #515151;">
                    {% for post in site.posts %}
                        {% if post.categories contains 'jobs' %}
                            {% for job in post.jobs limit:4 %}
                                <li>     
                                    <p> {{job.title}}.  {{job.subtitle}} </p>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </a>

            <a href="{{site.baseurl}}/pages/newsletter.html">
                <br>
                <button class="btn btn-success btn-lg" style="width: 100%; margin-bottom: 10px;" >SUBSCRIBE TO OUR <br>NEWSLETTER</button>
                <br><br>
            </a>
            
        </div> 
    </div>
</div>



















