<div class="hidden-xs col-sm-3">
    <div class="panel panel-default" id="sidebar">
        <div class="panel-body">
            <a href="{{site.baseurl}}/pages/pay-annual-dues.html">
                <p style="font-weight:bold; margin-top: 20px; font-size: 1.4em;">ANNUAL MEMBERSHIP</p>
                <button class="btn btn-success btn-lg" style="width: 100%; margin-bottom: 15px;" > PAY HERE </button>
                The budget of the Society depends on the timely payment of the fees.  <br><br><br>

                <ul style="padding-left:10px; border-bottom: 3px solid #515151;"></ul>
 <!--                    
            </a>
            <a target="_blank" href="http://www.lasdb2017.com">
                <img src="{{site.baseurl}}/img/sidebar-meeting2017.jpg"/>
                <p  style="font-weight:bold; padding-bottom: 15px; padding-top: 10px; border-bottom: 3px solid #515151">
                    Medellín, Colombia <br>
                    October 9-13,  2017 <br>
                    lasdb2017.com <br> <br>
                <img src="{{site.baseurl}}/img/sidebar-speakers2017.jpg"/> -->
                </p>
            </a>
            <a href="{{site.baseurl}}/pages/jobs.html">
                <p style="font-weight:bold; margin-top: 30px; font-size: 1.2em;">POSITIONS</p>
                <ul style="padding-left:10px; border-bottom: 3px solid #515151;">
                    {% for post in site.posts %}
                        {% if post.categories contains 'jobs' %}
                            {% for job in post.jobs limit:3 %}
                                <li>     
                                    <p> {{job.title}}.  {{job.subtitle}} </p>
                                </li>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </ul>
            </a>
            <div id="newsletter">
                <p style="font-weight:bold; margin-top: 30px; font-size: 1.2em;">SUBSCRIBE TO OUR NEWSLETTER</p>
                <form role="form" action="https://docs.google.com/forms/d/14iYLJINZaTCI5xyiKCJcdMHg4GNeTGfzlRJ7QSo_4OM/formResponse">
                    <div class="form-group">
                        <input type="text" class="form-control" name="entry.757107755" jsname="L9xHkb" placeholder="Full Name" id="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="entry.505953777" jsname="L9xHkb" placeholder="Country" id="country">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="entry.740159052" jsname="L9xHkb" placeholder="Email Adress" id="email">
                    </div>
                    <div role="button" class="quantumWizButtonPaperbuttonEl quantumWizButtonPaperbuttonFlat quantumWizButtonPaperbuttonDark quantumWizButtonPaperbutton2El2 freebirdFormviewerViewNavigationSubmitButton" jscontroller="VXdfxd" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc(preventMouseEvents=true|preventDefault=true); touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;" jsshadow="" jsname="M2UYVd" aria-disabled="false" tabindex="0"><div class="quantumWizButtonPaperbuttonRipple exportInk" jsname="ksKsZd"></div><div class="quantumWizButtonPaperbuttonFocusOverlay exportOverlay"></div><content class="quantumWizButtonPaperbuttonContent"><span class="quantumWizButtonPaperbuttonLabel"></span></content></div>
                    <button type="submit" class="btn btn-danger">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
