<!DOCTYPE html>
<html lang="en" ng-app="lasdb">
{% include head.html %}
<body>
    {% include header.html %}
	 <div class="container">
	        <span class="col-sm-1"></span>
	        <section class="jumbotron col-xs-12 col-sm-10">
	            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	                <!-- Indicators -->
	                <ol class="carousel-indicators">
	                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	                <!-- 				ADD FOR NEW CARROUSEL ITEM
	                	<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
	                </ol>

	                <!-- Wrapper for slides -->

	           	<!--  OPTIONAL CAPTION FOR CARROUSEL ITEM
	           	<div class="carousel-caption">
	                <h3>Image 2</h3>
	                <p class="smaller-xs">nasdlas als asdla laskdmv askd kasl</p>
	            </div>
	           	-->

	                <div class="carousel-inner" role="listbox">
	                    <div class="item active">			   
	                        <a target="_blank" href="http://biodesarrollo.unab.cl/">
	                            <img src="img/carrousel-quintay2023.jpg" alt="quintay2023">
	                        </a>
	                    </div>

	                    <div class="item">			   
	                        <a target="_blank" href="https://lasdb-development.org/pages/LatAm_DevBiol_labs_map.html">
	                            <img src="img/carrousel-lasdb-3.jpg" alt="img LASDB">
	                        </a>
	                    </div>			
				
	                    <div class="item">			   
	                        <a target="_blank" href="http://lasdb-development.org/">
	                            <img src="img/carrousel-lasdb-2.jpg" alt="img LASDB">
	                        </a>
	                    </div>

			    <div class="item">
				<a target="_blank" href="http://lasdb-development.org/">
	                            <img src="img/carrousel-lasdb-1.jpg" alt="img LASDB">
	                        </a>
			    </div>
				
	                    		
				
<!-- 			    <div class="item">
				<a target="_blank" href="http://lasdb-development.org/pages/news.html#5">
	                            <img src="img/carrousel-chile2018.jpg" alt="img Chile course and workshop">
	                        </a>
			    </div>				
				

	                    <div class="item">
	                        <a target="_blank" href="http://lasdb-development.org/pages/news.html#9">
	                            <img src="img/carrousel-Mex2018rep.jpg" alt="img SMDB-2018">
			       	</a>
                            </div>
				
	                    <div class="item">
	                        <a target="_blank" href="http://lasdb-development.org/pages/news.html#10">
	                            <img src="img/carrousel-lazen2018rep.jpg" alt="img lazen2018">
			       	</a>
                            </div>
								
	                    <div class="item">
	                        <a target="_blank" href="http://lasdb-development.org/pages/news.html#11">
	                            <img src="img/carrousel-quintay2018post.jpg" alt="img quintay2018">
			       	</a>
                            </div>
					-->			
				

<!-- 				    </div> -->
	                    <!--  ADD CARROUSEL ITEM HERE
	                    <div class="item">
	                    	<a target="_blank" href="#">
	                        	<img src="" alt="img">
	                   		</a>	     
	                    </div>
						-->
	                </div>

	                <!-- Controls -->
	                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	                    <span class="sr-only">Previous</span>
	                </a>
	                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	                    <span class="sr-only">Next</span>
	                </a>
	            </div>
	        </section>
	        <span class="col-sm-1"></span>
	    </div>
	    <div class="container-fluid">
	        <section class="news">
	            <div class="row">
	                <div class="col-sm-9">    
	                    {{content}}
	                </div>
	                {% include sidebar.html %}
	            </div>
	        </section>
	    </div>
	    {% include footer.html %}
		{% include scripts.html %}
	  </body>
</html>
